#about-me {
  padding: 50px 0;
  height: 82vh;
  display: flex;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      .col-md-6 {
        text-align: center;

        h2 {
          font-size: 2.5rem;
          margin-bottom: 20px;

          .highlight {
            color: $color-highlight;
          }
        }

        p {
          font-size: 1.2rem;
          margin-bottom: 30px;
        }

        button {
          background-color: $color-button;
          color: #fff;
          border: none;
          border-radius: 4px;
          font-size: 1rem;
          padding: 10px 20px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: $color-button-hover;
          }
        }
      }

      .col-md-6:last-child {

        img {
          width: 100%;
          max-width: 400px;
          height: auto;
          border-radius: 4px;
        }
      }
    }
  }

  .about-me__profile-image {
    background-color: $color-highlight;

    &:hover {
      transform: scale(1.1) rotate(4deg);
      transition: all 0.5s ease-in-out;
    }
  }
}

.about-me__text {
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 50px;
  text-align: left;
  font-weight: bold;

  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .highlight {
    color: #ff8c00;
    font-weight: bold;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;

    li {
      font-size: 16px;
      list-style: none;
      margin: 10px;
      padding: 10px;
      background-color: #f5f5f5;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: #ddd;
      }
    }
  }
}

