
svg {
  max-width: 50px;
  max-height: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2vh;

  box-shadow: 3px 3px 25px 6px rgba(0, 0, 0, 0.2);
  border-radius: 12px;

  // create a media screen min 768
  @media (min-width: 968px) {
    flex-direction: row;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  flex: 1;
  padding: 25px;
  
  @media (min-width: 768px) {
    padding: 60px;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 24px;
  }

  &-icon {
    width: 40px;
    height: 40px;
    color: var(--purple);
  }

  &-inputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;


  
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    
    label {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      position: relative;

      font-size: 14px;
      letter-spacing: -.3px;
      font-weight: 400;
      color: var(--silver);

      padding-bottom: 6px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      &:focus-within, &.active {
        color: green;
        border-bottom: 1px solid rgba(156, 251, 49, 0.515);
      }

      @media (min-width: 768px) {
        &:last-child {
          grid-column: 1 / 3;
        }
      }

      &:focus-within::after, label.active {
        transform: scaleX(1);
        transform-origin: left;
      }
      
      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
    
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s;
    
        width: 100%;
        height: 2px;
        background: rgba(156, 251, 49, 0.515);
      }
    }

    input {
      font-size: 18px;
      border: 0;
      outline: 0;
      background: transparent;
  
      &::placeholder {
        color: var(--silver);
      }
    }
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;

    align-self: center;
    width: 100%;
    max-width: 400px;
    height: 50px;

    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    background: var(--purple);
    border-radius: 8px;
    border: 0;

    transition: all 0.4s;

    & svg {
      width: 20px;
      height: 20px;
      margin-left: 16px;
    }

    &:hover {
      background: var(--purple-light);
      filter: brightness(0.9);
      cursor: pointer;
      transform: scale(.98);
    }
  }
}

.contact__info {
  display: flex;
  flex-direction: column;

  background: var(--text);
  padding: 25px;
  color: var(--white);

  @media (min-width: 968px) {
    padding: 60px;
  }

  &-title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .contact__infos {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-width: 500px;

    #getInfo1,
    #getInfo2 {
      cursor: copy;

    }
  
    &-info {
      display: flex;
      align-items: center;
      column-gap: 20px;
      padding: 20px;

      & svg {
        width: 18px;
        height: 18px;

        & path {
          fill: var(--silver);
        }
      }
    }
  }

  .contact__socials {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    column-gap: 20px;

    &--link {
      font-size: 35px;
      transition: all 0.4s;
      color: rgb(89, 89, 216);
  
      &:hover {
        transform: scale(1.2);
        color: var(--purple-light);
        cursor: pointer;
      }
    }
  }
}
