
svg {
  max-width: 50px;
  max-height: 50px;
}

.contact {
  display: flex;
  flex-direction: column;

  box-shadow: 3px 3px 25px 6px rgba(0, 0, 0, 0.2);
  border-radius: 12px;

  // create a media screen min 768
  @media (min-width: 968px) {
    flex-direction: row;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  flex: 1;
  padding: 60px;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 24px;
  }

  &-icon {
    width: 40px;
    height: 40px;
    color: var(--purple);
  }

  &-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    
    label {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      position: relative;

      font-size: 14px;
      letter-spacing: -.3px;
      font-weight: 400;
      color: var(--silver);

      padding-bottom: 6px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;

      &:focus-within, &.active {
        color: green;
        border-bottom: 1px solid rgba(156, 251, 49, 0.515);
      }

      &:last-child {
        grid-column: 1 / 3;
      }

      &:focus-within::after, label.active {
        transform: scaleX(1);
        transform-origin: left;
      }
      
      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
    
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s;
    
        width: 100%;
        height: 2px;
        background: rgba(156, 251, 49, 0.515);
      }
    }

    input {
      font-size: 18px;
      border: 0;
      outline: 0;
      background: transparent;
  
      &::placeholder {
        color: var(--silver);
      }
    }
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;

    align-self: center;

    width: 400px;
    height: 50px;

    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    background: var(--purple);
    border-radius: 8px;
    border: 0;

    transition: all 0.4s;

    & svg {
      width: 20px;
      height: 20px;
      margin-right: 16px;
    }

    &:hover {
      background: var(--purple-light);
      filter: brightness(0.9);
      cursor: pointer;
      transform: scale(.98);
    }
  }
}



// main {
//   // background: #fff;
//   // box-shadow: 3px 3px 25px 6px rgba(0, 0, 0, 0.2);
//   // border-radius: 12px;
//   // display: flex;
// }

// .form {
//   display: flex;
//   flex-direction: column;
//   row-gap: 40px;

//   flex: 1;
//   padding: 60px;
// }

// .form h1 {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   font-size: 24px;
// }

// .form h1 svg {
//   width: 40px;
//   height: 40px;
//   color: var(--purple);
// }

// .form__inputs {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: 32px;
// }

// label {
//   display: flex;
//   flex-direction: column;
//   row-gap: 8px;
//   position: relative;

//   font-size: 14px;
//   letter-spacing: -.3px;
//   font-weight: 400;
//   color: var(--silver);

//   padding-bottom: 6px;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;

//   input {
//     font-size: 18px;
//     border: 0;
//     outline: 0;
//     background: transparent;

//     &::placeholder {
//       color: var(--silver);
//     }
//   }

//   &:last-child {
//     grid-column: 1 / 3;
//   }

//   &:focus-within, &.active {
//     color: var(--purple);
//     border-bottom: 1px solid var(--purple);
//   }

//   &:focus-within::after, label.active {
//     transform: scaleX(1);
//     transform-origin: left;
//   }

//   &::after {
//     content: '';
//     position: absolute;
//     bottom: -1px;
//     left: 0;

//     transform: scaleX(0);
//     transform-origin: right;
//     transition: transform 0.4s;

//     width: 100%;
//     height: 2px;
//     background: var(--purple);
//   }
// }

// .form button {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   align-self: center;

//   width: 400px;
//   height: 50px;

//   font-size: 20px;
//   font-weight: 600;
//   color: var(--white);
//   background: var(--purple);
//   border-radius: 8px;
//   border: 0;

//   transition: all 0.4s;
// }

// .form button svg {
//   width: 20px;
//   height: 20px;
//   margin-right: 16px;
// }

// .form button:hover {
//   background: var(--purple-light);
//   filter: brightness(0.9);
//   cursor: pointer;
//   transform: scale(.98);
// }

// // CONTATCT SOCIALS
// .contact {
//   display: flex;
//   flex-direction: column;

//   background: var(--text);
//   padding: 60px;
//   color: var(--white);
// }

// .contact h1 {
//   font-size: 24px;
// }

// .contact__info {
//   display: flex;
//   flex-direction: column;
//   row-gap: 40px;

// }

// .contact__info > div {
//   display: flex;
//   align-items: center;
//   column-gap: 16px;
// }

// .contact__info > div svg{
//   width: 18px;
//   height: 18px;
// } 

// .contact__info > div svg path {
//   fill: var(--silver);
// }

// .contact__socials {
//   display: flex;
//   column-gap: 20px;

//   &--link {
//     font-size: 40px;
//     transition: all 0.4s;
//     color: var(--purple-light);

//     &:hover {
//       transform: scale(1.2);
//       color: var(--purple-light);
//       cursor: pointer;
//     }
//   }
// }