
.projects {
  display: flex;
  flex-direction: column;
  gap: 0 2rem;
  overflow: hidden;
  position: relative;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }

  .card {
    padding: 10px;
    user-select: none;
    width: 90%;
    min-width: 300px;
    max-width: 350px;
    height: 550px;
    margin: 5rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, rgba(84, 105, 147, 0.491) 0%, rgba(17, 0, 32, 0.5) 100%);
    box-shadow: 0 7px 12px 5px #00000088;
    border-radius: 0.7rem;
    overflow: hidden;
    transition: 0.5s all;
    position: relative;

    hr {
      width: 100%;
      border: none;
      border-bottom: 1px solid #88888855;
      margin-top: 0;
    }

    .card__img-container {
      overflow: hidden;
      border-radius: 0.5rem;
      height: 250px;
      width: 100%;
      margin-bottom: 2rem;
      position: relative;
    }

    .card__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .card__description {
      margin: 0.5rem 0;
      height: 100px;
    }

    .card__links {
      margin: 1rem auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .card__link {
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background: linear-gradient(0deg, rgb(71, 166, 107) 0%, rgba(186, 204, 51, 0.5) 100%);
      color: #ffffff;
      text-decoration: none;
      transition: 0.5s all;

      &:hover {
        background-color: #ffffff44;
        color: #000000;
      }
    }

    .card__tags {
      bottom: 10px;
      position: absolute;
    }

    .card__tag {
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #d5b91c53;
      border: 1px solid #b8e64455;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }

    ::before {
      position: fixed;
      content: "";
      box-shadow: 0 0 100px 40px #ffffff08;
      top: -10%;
      left: -100%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: 0.7s all;
    }

    &:hover {
      border: 1px solid #ffffff44;
      box-shadow: 2px 5px 5px 5px #83838368;
      transform: scale(1.015);
      ::before {
        filter: brightness(0.5);
        top: -100%;
        left: 200%;
      }
    }
  }

  .swiper-button-prev {
  }
  .swiper-button-next {

  } 
}
