.upward {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
  transition: 0.3s all;

  position: fixed;
  bottom: 9rem;
  right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  &:hover {
    bottom: 9.5rem;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.upward:after {
  content: "";
  display: block;
  background-color: rgba(48, 218, 10, 0.318);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  transition: 0.3s all;
}

.upward__arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.upward__arrow:after {
  content: "";
  display: block;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2015738/arrow_color_blue.png) no-repeat;
  width: 18px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
  opacity: 1;
}

.upward__arrow:before {
  content: "";
  display: block;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2015738/arrow_color_white.png) no-repeat;
  width: 18px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
  opacity: 0;
}

.upward:hover {
  background-color: rgba(122, 240, 43, 0.738);
}

.upward:hover:after {
  transform: translate(-50%, -50%) scale(1.2);
}

.upward:hover .upward__arrow:after {
  opacity: 0;
}

.upward:hover .upward__arrow:before {
  opacity: 1;
}
