
//new
.scroll-to-top{
	color:var(--color-highlight);
	padding-top:1.8em;
	display: block;/* or block */
	text-decoration:none;
	transition:all .3s ease-out;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  font-weight: bold;
  border: 0;
  z-index: 100;
  background: transparent;

  position: fixed;
  bottom: 40px;
  right: 30px;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
.scroll-to-top:before{
	content:'▲';
	font-size:1.1em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em var(--color-highlight);
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
  text-align: center;
}
.scroll-to-top:hover{
  transform: translateY(-5px);
}
.scroll-to-top:hover:before{
	transform: rotate(360deg);
}