$width: 60px;
$height: 30px;
$button-radius: 15px;

#darkmode-btn-container {
  width: $width;
  height: $height;
  position: fixed;
  right: 2%;
  z-index: 101;
  top: 115px;

  label {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: $button-radius;
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4), inset 0px -2px 6px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;

    &:after {
      content: "";
      width: $width * 0.375;
      height: $height * 0.75;
      position: absolute;
      left: $button-radius * 0.25;
      top: $button-radius * 0.25;
      background: linear-gradient(180deg, #ffcc89, #d8860b);
      border-radius: 50%;
      box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.2);
      transition: 0.3s;
    }

    svg {
      position: absolute;
      width: $width * 0.25;
      z-index: 100;
    }

    svg.sun {
      left: $button-radius * 0.5;
      transition: 0.3s;
      height: $height;
    }

    svg.moon {
      right: $button-radius * .5;
      transition: 0.3s;
      height: $height;
    }
  }

  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  input:checked + label {
    background: #242424;
  }

  input:checked + label:after {
    left: $width * .75;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }

  label:active:after {
    width: $width * 0.5;
    height: $height * 0.75;
    top: $button-radius * 0.25;
    left: $button-radius * -0.1;
    transform: translate(25%);
  }

  // Adicionando regras para dispositivos móveis com tela maior que 600px
  @media (min-width: 601px) {
    width: 60px;
    height: 30px;

    label {
      border-radius: $button-radius;
    }

    label:after {
      width: $width * 0.375;
      height: $height * 0.75;
      left: $button-radius * 0.25;
    }

    input:checked + label:after {
      left: $width * .75;
      transform: translateX(-50%);
      background: linear-gradient(180deg, #777, #3a3a3a);
    }

    svg.sun {
      left: $button-radius * 0.5;
      height: $height;
    }

    svg.moon {
      right: $button-radius * .5;
      height: $height;
    }
  }
}
