* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
}

// TODO: Definir Cores do modo claro
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-text: black;

$color-highlight: #ff5e3a;
$color-button: #ff5e3a;
$color-button-hover: #db4a29;

// TODO: Definir Cores do modo escuro
.dark-mode {
  --color-primary: #003b6f;
  --color-secondary: #5a5e62;
  --color-success: #1d5e2a;
  --color-info: #0f5e79;
  --color-warning: #9a6700;
  --color-danger: #720d1c;
  background-color: #1c1c1c;
  color: #f8f8f8;
}

html {
  /* 1rem iquals to 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
  color: $color-text;
}

li {
  list-style: none;
}

a {
  color: inherit
}



.dark-mode .btn {
  background-color: var(--color-primary);
  color: #fff;
}

.dark-mode a {
  color: #fff;
}


/* Para evitar todo o BOOTSTRAP criei um sistema próprio de grid */
/* Definindo as larguras das colunas */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-6 {
  width: 50%;
}
.col-12 {
  width: 100%;
}

/* Criando as classes para diferentes tamanhos de tela */
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}