$header-height: 300px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  scroll-behavior: smooth !important;
}

*, html {

  scroll-behavior: smooth !important;
}

:root {
  --text: #3e3e3e;

  --white: #F6F8FF;
  --silver: #6e6e6e;
  --purple: #4d386d;
  --purple-light: #674394;
}

html,
body {
  transition: all 0.5s ease;
  position: relative;
  /* 1rem iquals to 10px */
  font-size: 62.5%;
  scroll-behavior: smooth !important; 
  height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;

}

.hidden {
  display: none;
}

section {
  min-height: 80vh;
}


.bg-global{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  max-width: 1920px;
  margin-top: $header-height;
  font-size: 7vw;
  filter: opacity(0.1);
}

// TODO: Definir Cores do modo claro
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-text: black;

$color-highlight: #ff5e3a;
$color-button: #ff5e3a;
$color-button-hover: #db4a29;

// TODO: Definir Cores do modo escuro
.dark-mode {
  --color-primary: #003b6f;
  --color-secondary: #5a5e62;
  --color-success: #1d5e2a;
  --color-info: #0f5e79;
  --color-warning: #9a6700;
  --color-danger: #720d1c;
  background-color: #1c1c1c;
  color: #f8f8f8;
}

//Resolution
$container-hd-resolution: 1366px;

body {
  font-size: 1.6rem;
  color: $color-text;
}

li {
  list-style: none;
}

a {
  color: inherit
}

.container {
  width: 95%;
  max-width: $container-hd-resolution;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
  position: relative;
  margin-bottom: 2rem; // espaçamento entre o título e a linha horizontal

  
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 100%; // alinhando a linha horizontal ao centro do título
    left: 0;
    border-top: 1px solid #ccc; // cor da linha horizontal
    
    @media (min-width: 980px) {
      bottom: 150%;
    }
  }
}

.dark-mode .btn {
  background-color: var(--color-primary);
  color: #fff;
}

.dark-mode a {
  color: #fff;
}

/* Para evitar todo o BOOTSTRAP criei um sistema próprio de grid */
/* Definindo as larguras das colunas */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-6 {
  width: 50%;
}
.col-12 {
  width: 100%;
}

/* Criando as classes para diferentes tamanhos de tela */
@media (min-width: 980px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}
