* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
}

// Cores do modo claro
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;

$color-background: #f8f8f8;
$color-highlight: #ff5e3a;
$color-button: #ff5e3a;
$color-button-hover: #db4a29;


// Cores do modo escuro
$color-dark-mode: true;
$color-primary-dark: #003b6f;
$color-secondary-dark: #5a5e62;
$color-success-dark: #1d5e2a;
$color-info-dark: #0f5e79;
$color-warning-dark: #9a6700;
$color-danger-dark: #720d1c;

$color-background-dark: #1c1c1c;
$color-highlight-dark: #ff5e3a;
$color-button-dark: #ff5e3a;
$color-button-hover-dark: #db4a29;



html {
  /* 1rem iquals to 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  color: inherit
}

$primary-color: #f8bbd0 !default;
$accent-color: #6a1b9a !default;
$secondary-color: green !default;

@function set-text-color($color) {
  @if lightness($color) > 70 {
    @return #333;
  }
  @else {
    @return white;
  }
}

/* Para evitar todo o BOOTSTRAP criei um sistema próprio de grid */
/* Definindo as larguras das colunas */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-6 {
  width: 50%;
}
.col-12 {
  width: 100%;
}

/* Criando as classes para diferentes tamanhos de tela */
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}