header {
  padding: 0 80px;
  margin: auto;
  background-color: lightgreen;
  transition: all 0.4s ease;
  height: 90px;

  
  .container {
    max-width: 1300px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    background-color: red;
    height: 50px;
    width: 100px;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      padding-left: 20px;
    }
  }
}

.sticky {
  background-color: red;
  position: fixed;
  top:0;
  width:100%;
  height: 60px;
  color: white;
}

/* develpment */
body {
  height: 150vh;
}

@import "compass/css3";

$dark: #212121;
$light: #efefef;
$color: #b3e5fc;

.btn1 {
  @include btn(0px, 100px);
  
  .icon-left {
    @include icon(8px, 30px);
    left: 0px; 
    
    &:before{
      @include icon-before(8px, 30px, -20px);
    }
    
    &:after{
      @include icon-after(8px, 30px, 20px);
    }
    
    &:hover{
      cursor: pointer;
    }
  }
}

@mixin btn($left, $top) {
  position: absolute;
  width: 60px;
  height: 60px;
  top: $top;
  left: $left;
  transition-duration: 0.5s;
}