@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.light-theme {
  --color-primary: #70D6FF;
  --color-secondary: #6c757d;
  --background-color: #ffffff;
  --color-text: #000000;
  --color-highlight: #9B5DE5;
}

.dark-theme {
  --color-primary: #065c6c;
  --color-secondary: #5a5e62;
  --background-color: #1c1c1c;
  --color-text: #f8f8f8;
  --color-highlight: #00F5D4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

body {
  transition: all 0.5s ease;
  position: relative;
  height: 100%;
  font-size: 1.6rem;
  color: black;
}

.hidden {
  display: none;
}

section {
  min-height: 80vh;
  position: relative;
}

section::before {
  content: "";
  display: block;
  height: 100px; /* Altura do seu cabeçalho */
  margin-top: -100px; /* Altura negativa do seu cabeçalho */
  visibility: hidden;
}

.bg-global {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  max-width: 1920px;
  margin-top: 300px;
  font-size: 7vw;
  filter: opacity(0.1);
}

.container {
  width: 95%;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 10vh;
}

body {
  background: var(--background-color);
  color: var(--color-text);
}

a {
  color: var(--color-text);
  font-family: inherit;
}

li {
  list-style: none;
}

.section-title {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
  position: relative;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ccc;
}
@media (min-width: 980px) {
  .section-title::after {
    bottom: -50%;
  }
}

body.light-mode {
  --primary: #007A33;
  --secondary: #BA9653;
  --background: #ffffff;
  --text: #000000;
}

body.dark-mode {
  --primary: #00471B;
  --secondary: #876029;
  --background: #000000;
  --text: #ffffff;
}

.header {
  width: 100%;
  height: 300px;
  background-color: var(--color-primary);
  text-align: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 100;
}
.header__title {
  font-size: 42px;
  color: var(--color-highlight);
  line-height: 230px;
  transition: all 0.5s ease;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: var(--color-primary);
}
.header__link {
  display: inline-block;
  padding: 10px;
  line-height: 1;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 12px;
}
.header__link.active {
  border: 2px solid var(--color-highlight);
}
.header__link:hover {
  box-shadow: 0 0 0 1px var(--color-highlight);
  transform: scale(0.9);
  cursor: pointer;
}

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header .header {
  height: 60px;
  background-color: var(--primary);
}
body.sticky-header .header__title {
  transform: scale(0);
}

@media (max-width: 768px) {
  .header__title {
    font-size: 5rem;
  }
}
.about-me {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 980px) {
  .about-me {
    flex-direction: row;
  }
}
.about-me__text-column {
  text-align: center;
  margin-bottom: 30px;
  max-width: 600px;
}
@media only screen and (min-width: 980px) {
  .about-me__text-column {
    padding-right: 60px;
  }
}
.about-me__text-column h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: left;
}
.about-me__text-column h2 .highlight {
  color: var(--color-highlight);
}
.about-me__text-column p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.about-me__text-column button {
  background-color: transparent;
  border-radius: 0.6em;
  border: 2px solid var(--color-highlight);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  padding: 1.2em 2.8em;
  text-transform: uppercase;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  cursor: pointer;
  color: var(--color-text);
}
.about-me__text-column button i {
  color: var(--color-highlight);
  padding-right: 10px;
}
.about-me__text-column button:hover {
  box-shadow: 0 0 40px 40px var(--color-highlight) inset;
}
.about-me__text-column button:hover i {
  color: var(--color-text);
}
.about-me__image-column {
  text-align: center;
  padding: 0;
}
@media only screen and (min-width: 1366px) {
  .about-me__image-column {
    padding: 40px;
  }
}
.about-me__image-column img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
}
.about-me__profile-image {
  animation: animate 3s linear infinite;
}

.about-me__text {
  line-height: 1.5;
  margin: 0 auto;
  text-align: left;
  font-weight: bold;
}
.about-me__text .highlight {
  color: #ff8c00;
  font-weight: bold;
}
.about-me__text .skills {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.about-me__text .skills li {
  font-size: 16px;
  list-style: none;
  margin: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.about-me__text .skills li:hover {
  background-color: #ddd;
}

body.sticky-header .about-me {
  margin-top: 180px;
}

@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }
  50% {
    transform: translate(0px, -11px);
  }
  100% {
    transform: translate(-11px, 0);
  }
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 0 2rem;
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .projects {
    flex-direction: row;
  }
}
.projects .card {
  padding: 10px;
  user-select: none;
  width: 90%;
  min-width: 300px;
  max-width: 350px;
  height: 550px;
  margin: 5rem auto;
  border: 1px solid rgba(255, 255, 255, 0.1333333333);
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(84, 105, 147, 0.491) 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 12px 5px rgba(0, 0, 0, 0.5333333333);
  border-radius: 0.7rem;
  overflow: hidden;
  transition: 0.5s all;
  position: relative;
}
.projects .card hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(136, 136, 136, 0.3333333333);
  margin-top: 0;
}
.projects .card .card__img-container {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 250px;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}
.projects .card .card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects .card .card__description {
  margin: 0.5rem 0;
  height: 100px;
}
.projects .card .card__links {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.projects .card .card__link {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(0deg, rgb(71, 166, 107) 0%, rgba(186, 204, 51, 0.5) 100%);
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s all;
}
.projects .card .card__link:hover {
  background-color: rgba(255, 255, 255, 0.2666666667);
  color: #000000;
}
.projects .card .card__tags {
  bottom: 10px;
  position: absolute;
}
.projects .card .card__tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(213, 185, 28, 0.3254901961);
  border: 1px solid rgba(184, 230, 68, 0.3333333333);
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.projects .card ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.031372549);
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.projects .card:hover {
  border: 1px solid rgba(255, 255, 255, 0.2666666667);
  box-shadow: 2px 5px 5px 5px rgba(131, 131, 131, 0.4078431373);
  transform: scale(1.015);
}
.projects .card:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
}
@media (min-width: 990px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .skills {
    grid-template-columns: repeat(5, 1fr);
  }
}
.skills__box {
  padding: 1rem;
  color: var(--color-text);
  cursor: pointer;
  max-width: 200px;
  transition: all 0.5s ease-in-out;
  border-radius: 25%;
}
.skills__box:hover img {
  transform: translateY(-5px);
}
.skills__box:hover .skills__heading {
  color: var(--color-highlight);
}
.skills__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.skills__title::after, .skills__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 2px;
  border-radius: 2px 0 0 2px;
  background-color: var(--color-highlight);
}
.skills__title::before {
  width: 80px;
  border-radius: 0 2px 2px 0;
}
.skills__icon {
  width: 50px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.skills__icon-container {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

svg {
  max-width: 50px;
  max-height: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2vh;
  box-shadow: 3px 3px 25px 6px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
@media (min-width: 968px) {
  .contact {
    flex-direction: row;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  flex: 1;
  padding: 25px;
}
@media (min-width: 768px) {
  .contact__form {
    padding: 60px;
  }
}
.contact__form-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}
.contact__form-icon {
  width: 40px;
  height: 40px;
}
.contact__form-icon path {
  fill: var(--color-highlight);
}
.contact__form-inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}
@media (min-width: 768px) {
  .contact__form-inputs {
    grid-template-columns: 1fr 1fr;
  }
}
.contact__form-inputs label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 600;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-text);
}
.contact__form-inputs label:focus-within, .contact__form-inputs label.active {
  color: var(--color-highlight);
  border-bottom: 1px solid var(--color-highlight);
}
@media (min-width: 768px) {
  .contact__form-inputs label:last-child {
    grid-column: 1/3;
  }
}
.contact__form-inputs label:focus-within::after, .contact__form-inputs label label.active {
  transform: scaleX(1);
  transform-origin: left;
}
.contact__form-inputs label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
  width: 100%;
  height: 2px;
  background: var(--color-highlight);
}
.contact__form-inputs input {
  font-size: 18px;
  border: 0;
  outline: 0;
  background: transparent;
  color: var(--color-text);
}
.contact__form-inputs input::placeholder {
  font-style: italic;
  font-size: 1.3rem;
}
.contact__form-button {
  background-color: transparent;
  border-radius: 0.6em;
  border: 2px solid var(--color-highlight);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  padding: 1.2em 2.8em;
  text-transform: uppercase;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  cursor: pointer;
  color: var(--color-text);
  width: 100%;
  max-width: 400px;
  height: 50px;
  font-size: 20px;
}
.contact__form-button svg {
  width: 20px;
  height: 20px;
  margin-left: 16px;
}
.contact__form-button svg path {
  fill: var(--color-highlight);
}
.contact__form-button:hover {
  box-shadow: 0 0 40px 40px var(--color-highlight) inset;
}
.contact__form-button:hover svg path {
  fill: var(--color-text);
}

.contact__info {
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  padding: 25px;
  color: var(--white);
}
@media (min-width: 968px) {
  .contact__info {
    padding: 60px;
  }
}
.contact__info-title {
  font-size: 24px;
  margin-bottom: 40px;
}
.contact__info .contact__infos {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  max-width: 500px;
}
.contact__info .contact__infos-info {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 20px;
}
.contact__info .contact__infos-info svg {
  width: 18px;
  height: 18px;
}
.contact__info .contact__infos-info svg path {
  fill: var(--color-highlight);
}
.contact__info .contact__socials {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
}
.contact__info .contact__socials--link {
  font-size: 40px;
  transition: all 0.4s;
  color: var(--color-highlight);
}
.contact__info .contact__socials--link:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 440px;
  margin: 200px auto;
  border-radius: 23px;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.modal-content video {
  width: 100%;
}
.modal-content h1 {
  text-align: center;
  height: 0;
  overflow: hidden;
  animation: animationText 1s forwards;
  animation-delay: 2s;
  color: #1c1c1c;
}

@keyframes animationText {
  0% {
    height: 0;
  }
  100% {
    height: 60px;
    margin-bottom: 20px;
  }
}
footer {
  background-color: var(--color-primary);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
}
footer .footer-content .logo {
  margin-bottom: 20px;
}
footer .footer-content .logo img {
  width: 80px;
  height: 80px;
}
footer .footer-content .social-icons a {
  margin-right: 20px;
}
footer .footer-content .social-icons a i {
  font-size: 24px;
}
footer .copy {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  footer .footer-content .logo {
    margin-bottom: 0;
  }
  footer .footer-content .logo img {
    width: 60px;
    height: 60px;
  }
  footer .footer-content .social-icons a {
    margin-right: 10px;
  }
  footer .footer-content .social-icons a i {
    font-size: 20px;
  }
}
#darkmode-btn-container {
  width: 60px;
  height: 30px;
  position: fixed;
  right: 2%;
  z-index: 101;
  top: 115px;
}
#darkmode-btn-container label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 15px;
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4), inset 0px -2px 6px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
#darkmode-btn-container label:after {
  content: "";
  width: 22.5px;
  height: 22.5px;
  position: absolute;
  left: 3.75px;
  top: 3.75px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}
#darkmode-btn-container label svg {
  position: absolute;
  width: 15px;
  z-index: 100;
}
#darkmode-btn-container label svg.sun {
  left: 7.5px;
  transition: 0.3s;
  height: 30px;
}
#darkmode-btn-container label svg.moon {
  right: 7.5px;
  transition: 0.3s;
  height: 30px;
}
#darkmode-btn-container input {
  width: 0;
  height: 0;
  visibility: hidden;
}
#darkmode-btn-container input:checked + label {
  background: #242424;
}
#darkmode-btn-container input:checked + label:after {
  left: 45px;
  transform: translateX(-50%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
#darkmode-btn-container label:active:after {
  width: 30px;
  height: 22.5px;
  top: 3.75px;
  left: -1.5px;
  transform: translate(25%);
}
@media (min-width: 601px) {
  #darkmode-btn-container {
    width: 60px;
    height: 30px;
  }
  #darkmode-btn-container label {
    border-radius: 15px;
  }
  #darkmode-btn-container label:after {
    width: 22.5px;
    height: 22.5px;
    left: 3.75px;
  }
  #darkmode-btn-container input:checked + label:after {
    left: 45px;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
  #darkmode-btn-container svg.sun {
    left: 7.5px;
    height: 30px;
  }
  #darkmode-btn-container svg.moon {
    right: 7.5px;
    height: 30px;
  }
}

.upward {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
  transition: 0.3s all;
  position: fixed;
  bottom: 9rem;
  right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0;
}
.upward.visible {
  opacity: 1;
}
.upward:hover {
  bottom: 9.5rem;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.upward:after {
  content: "";
  display: block;
  background-color: rgba(48, 218, 10, 0.318);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  transition: 0.3s all;
}

.upward__arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.upward__arrow:after {
  content: "";
  display: block;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2015738/arrow_color_blue.png) no-repeat;
  width: 18px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
  opacity: 1;
}

.upward__arrow:before {
  content: "";
  display: block;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2015738/arrow_color_white.png) no-repeat;
  width: 18px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
  opacity: 0;
}

.upward:hover {
  background-color: rgba(122, 240, 43, 0.738);
}

.upward:hover:after {
  transform: translate(-50%, -50%) scale(1.2);
}

.upward:hover .upward__arrow:after {
  opacity: 0;
}

.upward:hover .upward__arrow:before {
  opacity: 1;
}

.success {
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}

.success h1 {
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  height: 0;
  overflow: hidden;
  animation: animationText 1s forwards;
  animation-delay: 2s;
}

@keyframes animationText {
  0% {
    height: 0;
  }
  100% {
    height: 96px;
    margin-bottom: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
